body {
    font-family: "Roboto Light", sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Impede o scroll da página */
    background-color: #eaf8f7; /* Fundo da página */
}

.header-slideshow {
    position: fixed;
    width: 100%;
    height: 250px; /* Reduz a altura do header */
    overflow: hidden;
    top: 0;
    z-index: 1000;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.slide-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
}

.header-slideshow .slide:nth-child(2) {
    animation: slideShow 16s infinite 0s;
}

.header-slideshow .slide:nth-child(3) {
    animation: slideShow 16s infinite 4s;
}

.header-slideshow .slide:nth-child(4) {
    animation: slideShow 16s infinite 8s;
}

.header-slideshow .slide:nth-child(5) {
    animation: slideShow 16s infinite 12s;
}

@keyframes slideShow {
    0% { opacity: 0; }
    20% { opacity: 1; }
    25% { opacity: 1; }
    45% { opacity: 0; }
    100% { opacity: 0; }
}

nav {
    background-color: #333;
    position: fixed;
    width: 100%;
    top: 250px; /* Ajuste conforme a altura do header */
    z-index: 1000;
    text-align: center;
}

.nav-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.nav-menu li {
    display: inline-block;
}

.nav-menu li a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    display: block;
}

.nav-menu li a:hover {
    background-color: #111;
}

main.content-box {
    position: fixed;
    top: 310px; /* Reduz o espaço entre a caixa de texto e o nav */
    bottom: 20px; /* Espaço para o footer */
    width: 100%;
    overflow-y: auto;
    background-color: white; /* Fundo da caixa de texto */
    padding: 20px;
    box-sizing: border-box;
}

footer {
    color: black; /* Cor do texto do footer */
    text-align: center;
    padding: 0px; /* Reduz a altura do footer */
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #eaf8f7; /* Fundo igual ao da página */
    box-sizing: border-box;
}

.hamburger {
    display: none;
}

/* Estilo para o botão de voltar ao topo */
.back-to-top {
    position: fixed;
    right: 20px;
    bottom: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    color: black; /* Cor do texto do botão */
    background-color: #eaf8f7;
    padding: 10px;
    border-radius: 5px;
    display: none; /* Inicialmente escondido */
}

main.content-box::-webkit-scrollbar {
    display: none; /* Oculta a barra de rolagem */
}

main.content-box:focus {
    outline: none; /* Remove o contorno ao focar */
}

main.content-box:focus-visible {
    outline: none; /* Remove o contorno ao focar */
}

main.content-box:focus .back-to-top {
    display: block; /* Mostrar quando necessário */
}

@media screen and (max-width: 768px) {
    .header-slideshow {
        height: 150px; /* Ajuste a altura conforme necessário */
    }

    .hamburger-label {
        display: block;
        font-size: 24px;
        color: white;
        padding: 14px 20px;
        cursor: pointer;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1100;
    }

    nav {
        top: 150px; /* Ajuste conforme a altura do header */
        padding: 20px 0;
        transition: top 0.3s ease-in-out;
    }

    .nav-menu {
        display: none;
        width: 100%;
        background-color: #333;
        position: relative;
        padding: 10px 0;
        transition: max-height 0.3s ease-in-out;
        max-height: 0;
        overflow: hidden;
        z-index: 1200;
    }

    .hamburger:checked ~ .nav-menu {
        display: block;
        max-height: 500px;
    }

    .nav-menu li {
        display: block;
        padding: 10px 0;
    }

    main.content-box {
        top: 210px; /* Ajuste conforme a altura do header e nav */
        bottom: 20px; /* Espaço para o footer */
    }
}

@media screen and (min-width: 769px) {
    .hamburger-label {
        display: none;
    }
}